[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

aiohttp = "*"
async-timeout = "*"
discord = "*"
giphy-client = "*"
multidict = "*"
python-dateutil = "*"
six = "*"
urllib3 = "*"
websockets = "*"


[requires]

python_version = "3.6"